<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="../css/bloc7.css">
    <link rel="stylesheet" href="../css/meyer.css">

    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Dosis:400,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">

</head>

<body>
    <section id="bloc7" class="bloc">
        <div class="bloc7 wrapper">
            <h2 class="h2">Our Skills</h2>
            <div class="photoshop">
                <img src="../images/bloc7/photoshop.png" alt="">
                <p class="skill">Photoshop</p>
                <span class="number">70</span>
                <span class="pourc">%</span>
            </div>

            <div class="fire">
                <img src="../images/bloc7/fireworks.png" alt="">
                <p class="skill">Fireworks</p>
                <span class="number">90</span>
                <span class="pourc">%</span>
            </div>

            <div class="html">
                <img src="../images/bloc7/html.png" alt="">
                <p class="skill">HTML</p>
                <span class="number">60</span>
                <span class="pourc">%</span>
            </div>

            <div class="word">
                <img src="../images/bloc7/wordpress.png" alt="">
                <p class="skill">WordPress</p>
                <span class="number">40</span>
                <span class="pourc">%</span>
            </div>

            <div class="awesome">
                <div class="circle"></div>
                <div class="bord degrader"></div>
                <p class="guill">"</p>
                <h3 class="sarbat">Sarbat is Awesome</h3>
                <p class="citation">“Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in pariatur. Excepteur sint occaecat.”</p>
                <span class="author">- Vishnu Sathyan (NZ)</span>
            </div>

            <div class="colorful">
                <div class="circle"></div>
                <div class="bord degrader"></div>
                <p class="guill">"</p>
                <h3 class="sarbat">Sarbat is Colorful</h3>
                <p class="citation">“Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in pariatur. Excepteur sint occaecat.”</p>
                <span class="author">- Vishnu Sathyan (NZ)</span>
            </div>
        </div>
    </section>
</body>

</html>