<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="../css/bloc5.css">
    <link rel="stylesheet" href="../css/meyer.css">

    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Dosis:400,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">

</head>

<body>
    <section id="bloc5" class="bloc">
        <div class="bloc5 wrapper">
            <h2 class="h2">Our Clients</h2>

            <div class="col1">
                <div class="size">
                    <img src="../images/bloc5/grahpicriver.png" alt="">
                </div>

                <div class="size1">
                    <img src="../images/bloc5/audiojungle.png" alt="">
                </div>
            </div>

            <div class="col2">
                <div class="size1">
                    <img src="../images/bloc5/audiojungle.png" alt="">
                </div>

                <div class="size2">
                    <img src="../images/bloc5/3docean.png" alt="">
                </div>
            </div>

            <div class="col3">
                <div class="size3">
                    <img src="../images/bloc5/photodune.png" alt="">
                </div>

                <div class="size4">
                    <img src="../images/bloc5/codecanyon.png" alt="">
                </div>
            </div>

            <div class="col4">
                <div class="size5">
                    <img src="../images/bloc5/activeden.png" alt="">
                </div>

                <div class="size6">
                    <img src="../images/bloc5/grahpicriver.png" alt="">
                </div>
            </div>

        </div>
    </section>
</body>

</html>