<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="../css/bloc3.css">
    <link rel="stylesheet" href="../css/meyer.css">

    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Dosis:400,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">

</head>

<body>
    <section id="bloc3" class="bloc">
        <div id="bloc3">
            <img class="div1 border" src="../images/bloc3/img1.jpg" alt="">
            <img class="div2 border" src="../images/bloc3/img2.jpg" alt="">
            <img class="div3 border" src="../images/bloc3/img3.jpg" alt="">
            <img class="div4 border" src="../images/bloc3/img4.jpg" alt="">
            <img class="div5 border" src="../images/bloc3/img5.jpg" alt="">
            <img class="div6 border" src="../images/bloc3/img6.jpg" alt="">
            <img class="div7 border" src="../images/bloc3/img7.jpg" alt="">
            <img class="div8 border" src="../images/bloc3/img8.jpg" alt="">
            <img class="div9 border" src="../images/bloc3/img9.jpg" alt="">
            <img class="div10 border" src="../images/bloc3/img10.jpg" alt="">
    </section>
</body>

</html>