<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Home</title>

    <!--CSS-->
    <link rel="stylesheet" href="../css/final.css">
    <link rel="stylesheet" href="../css/meyer.css">


    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>

    <link rel="stylesheet" href="../fancybox/source/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />

    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Dosis:400,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">

</head>

<body>

    <!--bloc1-->
    <section id="bloc1" class="bloc">
        <div class="bloc1 wrapper">
            <img class="logo" src="../images/bloc1/Logo.png">
            <div class="menubar">
                <div class="carre">
                    <div class="trait"></div>
                    <div class="trait"></div>
                    <div class="trait"></div>
                </div>
            </div>
            <div class="center">
                <h1>WE'RE SARBAT</h1>
                <h2>A Creative Design Agency</h2>
                <div class="border"></div>
                <h3>PSD Template from VishnuSathyan</h3>

                <div class="mouse ">
                    <img src="../images/bloc1/Mouse.png " class="mouse ">
                </div>
            </div>
        </div>

    </section>

    <!--bloc2-->
    <section id="bloc2" class="bloc">
        <div class="bloc2 wrapper">

            <h2 class="h2">Our Services</h2>

            <div class="colonne">
                <div class="serv">
                    <img src="../images/bloc2/webd.png">
                    <div class="border2"></div>
                    <h3 class="white">Web Designs</h3>
                    <p class="white">Eiusmod tempor incididunt ut labore et dolore magna lorem ipsum dolor sit met, connecteur.</p>
                </div>

                <div class="serv">
                    <img src="../images/bloc2/Diamond.png">
                    <div class="border2"></div>
                    <h3 class="white">Logo Designs</h3>
                    <p class="white">Eiusmod tempor incididunt ut labore et dolore magna lorem ipsum dolor sit met, connecteur.</p>
                </div>

                <div class="serv">
                    <img src="../images/bloc2/tool.png">
                    <div class="border2"></div>
                    <h3 class="white">Mini Sites</h3>
                    <p>Eiusmod tempor incididunt ut labore et dolore magna lorem ipsum dolor sit met, connecteur.</p>
                </div>
            </div>

            <div class="colonne2">
                <div class="serv">
                    <img src="../images/bloc2/webdev.png">
                    <div class="border2"></div>
                    <h3 class="white">Web Development</h3>
                    <p class="white">Eiusmod tempor incididunt ut labore et dolore magna lorem ipsum dolor sit met, connecteur.</p>
                </div>

                <div class="serv">
                    <img src="../images/bloc2/Headset.png">
                    <div class="border2"></div>
                    <h3 class="white">Graphic Designs</h3>
                    <p class="white">Eiusmod tempor incididunt ut labore et dolore magna lorem ipsum dolor sit met, connecteur.</p>
                </div>

                <div class="serv">
                    <img src="../images/bloc2/Wallet.png">
                    <div class="border2"></div>
                    <h3 class="white">Banner Ads</h3>
                    <p>Eiusmod tempor incididunt ut labore et dolore magna lorem ipsum dolor sit met, connecteur.</p>
                </div>
            </div>

            <div class="colonne3">
                <div class="serv">
                    <img src="../images/bloc2/pen.png">
                    <div class="border2"></div>
                    <h3 class="white">Branding</h3>
                    <p class="white">Eiusmod tempor incididunt ut labore et dolore magna lorem ipsum dolor sit met, connecteur.</p>
                </div>

                <div class="serv">
                    <img src="../images/bloc2/Truck.png">
                    <div class="border2"></div>
                    <h3 class="white">UI/UX Designs</h3>
                    <p class="white">Eiusmod tempor incididunt ut labore et dolore magna lorem ipsum dolor sit met, connecteur.</p>
                </div>

                <div class="serv">
                    <img src="../images/bloc2/Cofee_cup.png">
                    <div class="border2"></div>
                    <h3 class="white">Site Headers</h3>
                    <p>Eiusmod tempor incididunt ut labore et dolore magna lorem ipsum dolor sit met, connecteur.</p>
                </div>
            </div>


        </div>

    </section>

    <!--bloc3-->
    <section id="bloc3" class="bloc">
        <div class="bloc3">

            <a id="fancybox1" rel="group" href="../images/bloc3/img1.jpg"> <img class="div1 border opa" src="../images/bloc3/img1.jpg" alt=""></a>

            <a id="fancybox2" rel="group" href="big_image_1.jpg"><img class="div2 border opa" src="../images/bloc3/img2.jpg" alt=""></a>

            <a id="fancybox3" rel="group" href="big_image_1.jpg"><img class="div3 border opa" src="../images/bloc3/img3.jpg" alt=""></a>

            <a id="fancybox4" rel="group" href="big_image_1.jpg"><img class="div4 border opa" src="../images/bloc3/img4.jpg" alt=""></a>


            <div class="beauty border degrader">
                <p class="yellow white">The Beauty in Yellow</p>
                <div class="bb white"></div>
                <p class="more white">VIEW MORE</p>
            </div>

            <a class="fancybox" rel="group" href="big_image_1.jpg"><img class="div5 border opa" src="../images/bloc3/img5.jpg" alt=""></a>

            <a class="fancybox" rel="group" href="big_image_1.jpg"><img class="div6 border opa" src="../images/bloc3/img6.jpg" alt=""></a>

            <a class="fancybox" rel="group" href="big_image_1.jpg"><img class="div7 border opa" src="../images/bloc3/img7.jpg" alt=""></a>

            <a class="fancybox" rel="group" href="big_image_1.jpg"><img class="div8 border opa" src="../images/bloc3/img8.jpg" alt=""></a>

            <a class="fancybox" rel="group" href="big_image_1.jpg"><img class="div9 border opa" src="../images/bloc3/img9.jpg" alt=""></a>

            <a class="fancybox" rel="group" href="big_image_1.jpg"><img class="div10 border opa" src="../images/bloc3/img10.jpg" alt=""></a>
    </section>
    <!--bloc4-->
    <section id="bloc4" class="bloc">
        <div class="bloc4 wrapper">
            <div class="view degrader">
                <p class="white">VIEW MORE</p>
            </div>
            <h2 class="work">How We Work</h2>

            <div class="one">
                <span class="date">01</span>
                <p class="month">One</p>
                <div class="bord10 degrader"></div>
                <h3 class="white tell">Tell Us About It</h3>
                <p class="veniam">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat epteur sint occaecat.</p>
            </div>

            <div class="two">
                <span class="date">02</span>
                <p class="month">two</p>
                <div class="bord10 degrader"></div>
                <h3 class="white tell">Leave Comments</h3>
                <p class="veniam">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat epteur sint occaecat.</p>
            </div>

            <div class="thr">
                <span class="date">03</span>
                <p class="month">Three</p>
                <div class="bord10 degrader"></div>
                <h3 class="white tell">Enjoy Using Products</h3>
                <p class="veniam">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat epteur sint occaecat.</p>
            </div>
        </div>
    </section>

    <!--bloc5-->
    <section id="bloc5" class="bloc">
        <div class="bloc5 wrapper">
            <h2 class="h2">Our Clients</h2>

            <div class="col1">
                <div class="size">
                    <img src="../images/bloc5/grahpicriver.png" alt="">
                </div>

                <div class="size1">
                    <img src="../images/bloc5/audiojungle.png" alt="">
                </div>
            </div>

            <div class="col2">
                <div class="size1">
                    <img src="../images/bloc5/audiojungle.png" alt="">
                </div>

                <div class="size2">
                    <img src="../images/bloc5/3docean.png" alt="">
                </div>
            </div>

            <div class="col3">
                <div class="size3">
                    <img src="../images/bloc5/photodune.png" alt="">
                </div>

                <div class="size4">
                    <img src="../images/bloc5/codecanyon.png" alt="">
                </div>
            </div>

            <div class="col4">
                <div class="size5">
                    <img src="../images/bloc5/activeden.png" alt="">
                </div>

                <div class="size6">
                    <img src="../images/bloc5/grahpicriver.png" alt="">
                </div>
            </div>

        </div>
    </section>

    <!--bloc6-->
    <section id="bloc6" class="bloc">
        <div class="bloc6 wrapper">
            <h2 class="h2">Plans &amp; Pricing</h2>
            <div class="standard">
                <h3 class="white base">Standard</h3>
                <span class="dolls">$</span>
                <span class="white price">42</span>
                <div class="border3 degrader"></div>
                <div class="border4 degrader"></div>
                <div class="info">
                    <p class="pinf"><span class="white italic">1GB</span> of Storage</p>
                    <p class="pinf"><span class="white italic">10</span> Respirators</p>
                    <p class="pinf"><span class="white italic">5</span> Users</p>
                    <p class="pinf"><span class="white italic">5 FTP</span> Accounts</p>
                    <p class="pinf"><span class="white italic">5</span> Email Accounts</p>
                    <p class="pinf"><span class="white italic">24/7</span> Support</p>
                    <p class="pinf">-</p>
                    <p class="pinf">-</p>
                </div>
                <p class="white order">ORDER NOW</p>
            </div>

            <div class="Prenium">
                <h3 class="white base">Prenium</h3>
                <span class="dolls">$</span>
                <span class="white price">63</span>
                <div class="border3 degrader"></div>
                <div class="border4 degrader"></div>
                <div class="info">
                    <p class="pinf"><span class="white italic">1GB</span> of Storage</p>
                    <p class="pinf"><span class="white italic">10</span> Respirators</p>
                    <p class="pinf"><span class="white italic">5</span> Users</p>
                    <p class="pinf"><span class="white italic">5 FTP</span> Accounts</p>
                    <p class="pinf"><span class="white italic">5</span> Email Accounts</p>
                    <p class="pinf"><span class="white italic">24/7</span> Support</p>
                    <p class="pinf">Prenium Special</p>
                    <p class="pinf">-</p>
                </div>
                <p class="white order">ORDER NOW</p>
            </div>

            <div class="buss">
                <h3 class="white base">Business</h3>
                <span class="dolls">$</span>
                <span class="white price">74</span>
                <div class="border3 degrader"></div>
                <div class="border4 degrader"></div>
                <div class="info">
                    <p class="pinf"><span class="white italic">1GB</span> of Storage</p>
                    <p class="pinf"><span class="white italic">10</span> Respirators</p>
                    <p class="pinf"><span class="white italic">5</span> Users</p>
                    <p class="pinf"><span class="white italic">5 FTP</span> Accounts</p>
                    <p class="pinf"><span class="white italic">5</span> Email Accounts</p>
                    <p class="pinf"><span class="white italic">24/7</span> Support</p>
                    <p class="pinf">Business Special</p>
                    <p class="pinf">Unlimited</p>
                </div>
                <p class="white order">ORDER NOW</p>
            </div>

            <div class="ultimate">
                <h3 class="white base">Ultimate</h3>
                <span class="dolls">$</span>
                <span class="white price">95</span>
                <div class="border3 degrader"></div>
                <div class="border4 degrader"></div>
                <div class="info">
                    <p class="pinf"><span class="white italic">1GB</span> of Storage</p>
                    <p class="pinf"><span class="white italic">10</span> Respirators</p>
                    <p class="pinf"><span class="white italic">5</span> Users</p>
                    <p class="pinf"><span class="white italic">5 FTP</span> Accounts</p>
                    <p class="pinf"><span class="white italic">5</span> Email Accounts</p>
                    <p class="pinf"><span class="white italic">24/7</span> Support</p>
                    <p class="pinf">Ultimate Special</p>
                    <p class="pinf">Unlimited</p>
                </div>
                <p class="white order">ORDER NOW</p>
            </div>
        </div>

    </section>

    <!--bloc7-->
    <section id="bloc7" class="bloc">
        <div class="bloc7 wrapper">
            <h2 class="h2">Our Skills</h2>
            <div class="photoshop">
                <img src="../images/bloc7/photoshop.png" alt="">
                <p class="skill">Photoshop</p>
                <span class="number">70</span>
                <span class="pourc">%</span>
            </div>

            <div class="fire">
                <img src="../images/bloc7/fireworks.png" alt="">
                <p class="skill">Fireworks</p>
                <span class="number">90</span>
                <span class="pourc">%</span>
            </div>

            <div class="html">
                <img src="../images/bloc7/html.png" alt="">
                <p class="skill">HTML</p>
                <span class="number">60</span>
                <span class="pourc">%</span>
            </div>

            <div class="word">
                <img src="../images/bloc7/wordpress.png" alt="">
                <p class="skill">WordPress</p>
                <span class="number">40</span>
                <span class="pourc">%</span>
            </div>

            <div class="awesome">
                <div class="circle"></div>
                <div class="bord degrader"></div>
                <p class="guill">"</p>
                <h3 class="sarbat">Sarbat is Awesome</h3>
                <p class="citation">“Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in pariatur. Excepteur sint occaecat.”</p>
                <span class="author">- Vishnu Sathyan (NZ)</span>
            </div>

            <div class="colorful">
                <div class="circle"></div>
                <div class="bord degrader"></div>
                <p class="guill">"</p>
                <h3 class="sarbat">Sarbat is Colorful</h3>
                <p class="citation">“Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in pariatur. Excepteur sint occaecat.”</p>
                <span class="author">- Vishnu Sathyan (NZ)</span>
            </div>
        </div>
    </section>

    <!--bloc8-->
    <section id="bloc8" class="bloc">
        <div class="bloc8 wrapper">
            <h2 class="h2 ">Latest Posts</h2>
            <div class="feb">
                <span class="date">05</span>
                <p class="month">Feb</p>
                <div class="bord1 degrader"></div>
                <p class="blog">This is blog heading, and it is long.</p>
                <p class="read">READ NOW</p>
            </div>

            <div class="dec">
                <span class="date">29</span>
                <p class="month">Dec</p>
                <div class="bord1 degrader"></div>
                <p class="blog">This is blog heading, and it is really long.</p>
                <p class="read">READ NOW</p>
            </div>
        </div>

    </section>

    <!--bloc9-->
    <section id="bloc9" class="bloc">

        <div class="fb hov">
            <img class="rs" src="../images/bloc9/Facebook.png" alt="">
        </div>
        <div class="twitter hov">
            <img class="rs edit" src="../images/bloc9/Twitter.png" alt="">
        </div>
        <div class="google hov">
            <img class="rs edit" src="../images/bloc9/g+.png" alt="">
        </div>
        <div class="behance hov">
            <img class="rs edit" src="../images/bloc9/Behance.png" alt="">
        </div>

    </section>

    <!--bloc10-->
    <section id="bloc10" class="bloc">
        <div class="bloc10 wrapper">
            <div class="desc">
                <p class="izi">Sarbat is colorful!</p>
                <p class="enim">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>

            <div class="reach">
                <p class="izi">Reach Us</p>
                <p class="enim">12th Kuthampully Street & PO., Ernakulam Dt., Kuthampully, Kerala. IN. PIN 689 597</p>
            </div>

            <div class="mail">
                <p class="izi">Mail Us</p>
                <p class="enim">VishnuSathyan@outlook.com www.vthed.com</p>
            </div>
        </div>

    </section>

    <!--footer-->
    <section id="footer" class="bloc degrader">

        <p>© Copyright 2015 / All Rights Reserved / A Design by VishnuSathyan</p>

    </section>

    <script type="text/javascript" src="/fancybox/source/jquery.fancybox.pack.js?v=2.1.5"></script>
    <script src="../js/home.js"></script>
</body>

</html>