.bloc {
    width: 100%;
}

.wrapper {
    width: 70%;
    margin: 0 auto;
    position: relative;
}

.degrader {
    background-image: linear-gradient(to right, #f3c400, #ff5801);
}

.white {
    color: white;
}

.italic {
    font-style: italic;
}

#bloc6 {
    height: 700px;
    background-color: #121212;
}

.h2 {
    font-family: 'Montserrat', sans-serif;
    color: white;
    position: absolute;
    top: 52px;
    font-size: 25px;
    font-weight: 400;
}

.standard {
    width: 210px;
    height: 490px;
    position: absolute;
    top: 118px;
    border: 2px solid #505050;
}

.Prenium {
    width: 210px;
    height: 490px;
    position: absolute;
    top: 118px;
    left: 250px;
    border: 2px solid #505050;
}

.buss {
    width: 210px;
    height: 490px;
    position: absolute;
    top: 118px;
    left: 496px;
    border: 2px solid #505050;
}

.ultimate {
    width: 210px;
    height: 490px;
    position: absolute;
    top: 118px;
    left: 740px;
    border: 2px solid #505050;
}

.base {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    position: absolute;
    top: 28px;
    left: 20px;
}

.price {
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    position: absolute;
    top: 62px;
    left: 121px;
}

.border3 {
    width: 170px;
    height: 1px;
    margin: 139px 0px 0 20px;
}

.border4 {
    width: 170px;
    height: 1px;
    margin: 317px 0px 0 20px;
}

.order {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    position: absolute;
    top: 466px;
    left: 58px;
}

.dolls {
    font-family: 'Noto sans', sans-serif;
    font-size: 25px;
    position: absolute;
    font-style: italic;
    top: 65px;
    left: 104px;
    color: #757575;
}

.pinf {
    font-family: 'Noto Sans', sans-serif;
    font-size: 10px;
    color: #757575;
    white-space: pre-wrap;
    line-height: 37px;
    text-align: left;
}

.info {
    position: absolute;
    top: 151px;
    left: 22px;
}